<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
       <configurator 
         id="com.basistech.m2e.code.quality.checkstyleConfigurator"
         name="M2Eclipse maven-checkstyle-plugin project configurator"
        class="org.maven.ide.eclipse.extensions.project.configurators.checkstyle.EclipseCheckstyleProjectConfigurator"
        />
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
</plugin>
