<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
       <configurator 
         id="com.basistech.m2e.code.quality.findbugsConfigurator"
         name="M2Eclipse spotbugs-maven-plugin project configurator"
        class="com.basistech.m2e.code.quality.findbugs.EclipseFindbugsProjectConfigurator"
        />
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
</plugin>
