<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="Eclipse 4.8.x (Photon)">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
			<repository location="http://download.eclipse.org/releases/photon"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.m2e.sdk.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
			<repository location="http://download.eclipse.org/technology/m2e/milestones/1.9"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="net.sourceforge.pmd.eclipse.feature.group" version="0.0.0"/>
			<repository location="https://pmd.github.io/pmd-eclipse-plugin-p2-site/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="edu.umd.cs.findbugs.plugin.eclipse.feature.group" version="0.0.0"/>
			<repository location="http://findbugs.cs.umd.edu/eclipse/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="com.github.spotbugs.plugin.eclipse.feature.group" version="0.0.0"/>
			<repository location="https://spotbugs.github.io/eclipse/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="net.sf.eclipsecs.feature.group" version="0.0.0"/>
			<repository location="https://dl.bintray.com/eclipse-cs/eclipse-cs/8.0.0/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.7"/>
</target>