<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse 4.4.x (Luna)" sequenceNumber="51">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="edu.umd.cs.findbugs.plugin.eclipse.feature.group" version="3.0.0.20140706-2cfb468"/>
<repository location="http://findbugs.cs.umd.edu/eclipse"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.10.0.v20140925-0400"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.sf.eclipsecs.feature.group" version="6.1.1.201412161501"/>
<repository location="http://eclipse-cs.sourceforge.net/update"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2e.sdk.feature.feature.group" version="1.5.0.20140606-0033"/>
<repository location="http://download.eclipse.org/technology/m2e/releases/1.5/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.sourceforge.pmd.eclipse.feature.group" version="4.0.5.v20141105-1906"/>
<repository location="http://sourceforge.net/projects/pmd/files/pmd-eclipse/update-site/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.6"/>
</target>
